<footer class="navbar mt-5 justify-content-center row">
 <div class="col-sm-4 flex-column">
    <ul class="d-flex justify-content-around">
      <li>お問い合わせ</li>
      <li>プライバシーポリシー</li>
      <li>利用規約</li>
    </ul>
    <p class="text-center copyright"><span><i class="far fa-copyright"></i></span>2021 Sugarjudge</p>
  </div>
</footer>
