<footer class="navbar mt-5 justify-content-center row">
 <div class="col-sm-4 flex-column">
    <ul class="d-flex justify-content-around">
      <li><%= link_to 'お問い合わせ', contact_us_path, class: 'no-decoration-link' %></li>
      <li><%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'no-decoration-link' %></li>
      <li><%= link_to '利用規約', terms_of_use_path, class: 'no-decoration-link' %></li>
    </ul>
    <p class="text-center copyright"><span><i class="far fa-copyright"></i></span>2021 Sugarjudge</p>
  </div>
</footer>
