<header class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <%= link_to 'Sugarjudge', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to '判定結果一覧', meals_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</header>