<div class="container">
  <h1 class="mt-3">写真アップロード</h1>
  <%= form_with model: @meal, local: true do |f| %>
    <%= f.label :meal_image %>
    <%= f.file_field :meal_image %>
    <%= f.submit nil %>
  <% end %>
</div>