@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$line-height-base: 1.65;

:root{
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: linear-gradient(#FFC6D9, #FFE1C6);
  line-height: $line-height-base;
  text-align: justify;
  font-family: var(--font-family-sans-serif);
}

.container {
  flex: 1;
}

header {
  background-color: black;
  .navbar-brand{
    color: white;
  }

  .nav-link{
    color: white;
  }
}

footer {
  background-color: red;
  color: white;

  li {
    list-style-type: none;
  }
}

.card-title {
  text-decoration: none;
}

.page-link {
  background-color: black;
  color: white;
}

.page-item.active {
  
  .page-link {
  background-color: red;
  }

}

.top-list {
  list-style-type: decimal;
  
  li {
    font-size: 25px;
    margin-top: 10px;
  }
  
}

.red{
  color: red;
}

.alert-success{
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 0%;
}

.alert-danger {
  background-color: red;
  color: white;
  border: 0px;
  border-radius: 0%;
}

.limit-level-description {
  
  li {
    font-size: 17px;
    margin-top: 10px;
  }
}

.copyright {
  opacity: 0.5;
}

.btn-twitter {
  background-color: #00acee;
  color: white;
}

.no-decoration-link {
  text-decoration: none;
  color: white;
}

.table {
  border-color: black;
}

.catch-copy {
  letter-spacing: 0.2rem;
}

.btn {
  border-radius: 20px;
}

.form-control {
  border-radius: 20px;
}

.form-select {
  border-radius: 20px;
}