@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$line-height-base: 1.65;

:root{
  --font-family-sans-serif: "メイリオ", "Meiryo","MS ゴシック","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3", "sans-serif";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: linear-gradient(#FFC6D9, #FFE1C6);
  line-height: $line-height-base;
  text-align: justify;
  font-family: var(--font-family-sans-serif);
}

.container {
  flex: 1;
}

header {
  background-color: rgb(255, 0, 0);
}

footer {
  background-color: rgb(255, 0, 0);
  color: white;

  li {
    list-style-type: none;
  }
}

.card-title {
  text-decoration: none;
}

.page-link {
  background-color: black;
  color: white;
}

.page-item.active {
  
  .page-link {
  background-color: red;
  }

}

.top-list {
  list-style-type: decimal;
  
  li {
    font-size: 25px;
    margin-top: 10px;
  }
  
}

.red{
  color: red;
}

.alert-success{
  background-color: rgba(0,0,0,0.6);
  color: white;
  border: 0px;
  border-radius: 0%;
}

.alert-danger {
  background-color: rgba(255,0,0,0.6);
  color: white;
  border: 0px;
  border-radius: 0%;
}

.limit-level-description {
  
  li {
    font-size: 17px;
    margin-top: 10px;
  }
}

.copyright {
  opacity: 0.5;
}

.btn-twitter {
  background-color: #00acee;
  color: white;
}

.no-decoration-link {
  text-decoration: none;
  color: white;
}

.table {
  border-color: black;
}

.catch-copy {
  letter-spacing: 0.2rem;
}

.btn {
  border-radius: 20px;
}

.form-control {
  border-radius: 20px;
}

.form-select {
  border-radius: 20px;
}

.user-form {
  margin-top: 100px;
}

.user-meal {
  margin-bottom: 50px;
}

.navbar-toggler-icon {
  color: white;
}

.comment {
  color:black;
  margin-top: 70px;
}

.comment-list {
  color:black;
  margin-top: 20px;
}


.balloon{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0888ff;
  margin-left: 110px;
  margin-bottom: 20px;

}

.balloon .name{
  position: absolute;
  left: -110px;
  top: 0;
  color: black;
  padding-top: 20px;
}

.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #0888ff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.each-comment {
  border-bottom: solid;
  padding-top: 20px;
}