@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

header {
  background-color: black;
  .navbar-brand{
    color: white;
  }

  .nav-link{
    color: white;
  }
}

footer {
  background-color: red;
  color: white;

  li {
    list-style-type: none;
  }
}

.card-title {
  text-decoration: none;
}

.page-link {
  background-color: black;
  color: white;
}

.page-item.active {
  
  .page-link {
  background-color: red;
  }

}

.top-list {
  list-style-type: decimal;
  
  li {
    font-size: 25px;
    margin-top: 10px;
  }
  
}

.red{
  color: red;
}

.alert-success{
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 0%;
}

.alert-danger {
  background-color: red;
  color: white;
  border: 0px;
  border-radius: 0%;
}

.limit-level-description {
  
  li {
    font-size: 17px;
    margin-top: 10px;
  }
}

.copyright {
  opacity: 0.5;
}

.btn-twitter {
  background-color: #00acee;
  color: white;
}

.no-decoration-link {
  text-decoration: none;
  color: white;
}